body {
  background-color: #f0f8ff; /* 淡蓝背景色 */
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 600px;
  text-align: center;
}

h1 {
  color: #73A5CE;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

ul li button {
  margin-top: 10px;
}



input {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 20px);
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.nft-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.listBox {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.listImg img {
  width: 100%;
  border-radius: 5px;
}

.listTitle h3 {
  color: #73A5CE;
  font-size: 18px;
  margin: 10px 0;
}

.listRemark p {
  font-size: 14px;
  color: #666;
}

.listBtnBox {
  margin-top: 10px;
}

.listBtnBox .btn1 {
  background-color: #ff4d4d;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.listBtnBox .btn1:hover {
  background-color: #d93636;
}


button {
  background-color: #73A5CE;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #5e8eb6;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}